
/node_modules
package-lock.json
# Local Netlify folder
.netlify
files/CHARK 10th-20240720T171228Z-001.zip
/files/CHARK 10th/Onam BMV
/files/CHARK 10th/Raman house
/files/CHARK 10th/KK house
/files/CHARK 10th/Jibi miss B_day
